################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ConsoleMISC_NetFramekork48/bin/Debug
/ConsoleMISC_NetFramekork48/obj/Debug
/DB_Dumper/.vs
/DB_Dumper/DB_Dumper/bin
/DB_Dumper/DB_Dumper/obj
/.vs
/ConsoleMISC_NetFramekork48
/HostedWebServer/.vs/HostedWebServer
/HostedWebServer/obj/Debug
/HostedWebServer/bin/Debug
/HostedWebServer/packages
/NuGetCustomFolder/.vs/NuGetCustomFolder
/NuGetCustomFolder/bin/Debug
obj/
bin/
packages/
/NuGetCustomFolder/.vs
*.binlog
*.user
Binaries/
Debug
.vs